$blue0: #071126;
$blue1: #07113c;
$blue2: #08133d;
$blue3: #1a2a4c;
$blue4: #223f80;
$blue5: #213e7f;
$blue6: #0d1841;
$blue7: #233c7b;


$background: $blue2;
$background_card: $blue0;
$drawer: $blue1;
$header: $blue0;
$header_table: $blue5;
$header_table_hovered: #233865;
$card_content: $blue3;
$menu_item: white;
$textColor: white;
$progress_bar: white;
$h2_color: white;
$section_engine: #233865;
