$blue0: #071126;
$blue1: #07113c;
$blue2: #08133d;
$blue3: #1a2a4c;
$blue4: #223f80;
$blue5: #213e7f;
$blue6: #0d1841;
$blue7: #233c7b;

$gray: #928982;
$dgray: #202530;
$dgray2: #323a4b;
$black: #141414;
$h2_color: white;

$background:#202020;
$background_card: rgb(48,48,48);
$drawer: #1f1e1e;
$header: rgb(32,32,32);
$header_table: #c73c11;
$header_table_hovered: #b43721;
$card_content: $black;
$menu_item: white;
$textColor: white;
$progress_bar: white;
$section_engine: #db4213;
